// Max width
$max-width: 1200px

// Box shadow
$box-shadow: 0 2px 5px rgba(0,0,0,.26)

$navbar-light-active-color: white

// Primary color
$brand-primary: #0769ad

// Link color
$link-color: white

// Buttons
$btn-secondary-border: $link-color
